extends layout.pug

block content 
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Lauren Eggers
        p.lead.text-light
            | » JavaScript Dev
            | » Sphynx cat mom
            | » Dance Dance Revolution Champion

        .portfolio-bio
          p
            | I spent almost a decade working in customer service and I love communicating with others to acknowledge and address their needs.
            | As my career interests changed, I found a passion for full stack development.
            | As a career changer, I'm excited to bring my unique skill set, including excellent customer service, to the development field.
            | Not only have I learned a lot, but have had so much fun a long the way. I can't wait to learn more.
            | I hope one day to be a mentor to other young women interested in programming.

        .cell
          h6
            a(href ="https://www.uie.com/" target="_blank") Center Centre UIE : Web Developer
          ul
            li Developing multiple emails under tight deadlines
            li Managing large audiences with tags
            li Updating Front End of multiple sites to match style guides
            li Onboarding new hires during "crunch" times
            li Worked closely with Marketing to increase base by 1% per day
            li Worked closely with a UX focused team to understand user needs.
        .cell
          h6 Certifications
          ul
            li
              a(href="https://www.credential.net/695266b2-a456-4453-a660-758d08b6d5f7" target="_blank") Treehouse: Full Stack JavaScript 2020
            li
              a(href="https://www.udemy.com/certificate/UC-8N1USQIN/" target="_blank") Udemy: Web Developer Bootcamp 2019
            li
              a(href="https://confirm.udacity.com/EEESCLEJ" target="_blank") Grow With Google & Udacity: Mobile Web Specialist 2019
            li
              a(href="https://www.freecodecamp.org/certification/aliecake/responsive-web-design" target="_blank") freeCodeCamp: Responsive Web Design 2019

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Express
          li Node.js
          li React
          li SQL / Sequelize
          li NoSQL / Mongoose
          li Webpack, Gulp, Grunt, Parcel
          li Sass, CSS
          li RESTful API, AJAX
          li Pug, EJS, Blade, Razor
          li HTML
          li Git
          li Accessibility / ADA Compliance
          li MailChimp
          li Email Development
          li Customer Service
          li Conflict Resolution
        h6 Contact Info

        //- contact info
        ul
          li 617-957-8233
          li lauren@laureneggers.com

        //- social media accounts.
        a.button.expanded(href='/static/fullStackResumeLaurenEggers.pdf' target="_blank") Resume
        a.button.expanded(href='https://github.com/Aliecake' target="_blank") Github
        a.button.expanded(href='https://www.linkedin.com/in/laureneggers/' target="_blank") LinkedIn